<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <label for="newPassword">New Password</label>
      <input id="newPassword" formControlName="newPassword" type="password" required />
  
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" required />
  
      <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
  
    <p *ngIf="message" class="success">{{ message }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <div *ngIf="resetPasswordForm.errors?.['mismatch']" class="error">
        <p>Passwords do not match!</p>
      </div>
      
  </div>
  